attrs
autopep8
cycler
decorator
importlib-metadata
kiwisolver
matplotlib
more-itertools
numpy
onnx
packaging
pandas
Pillow
pluggy
protobuf
py
pycodestyle
pydocstyle
pyparsing
pytest
python-dateutil
pytz
six
snowballstemmer
torch
torchvision
tensorflow
typing-extensions
wcwidth
zipp
